*{
    margin: 0;
    padding: 0;
    background: fixed;

}


body{
    width: 100%;
    height:100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(https://assets.wowparenting.com/wp-content/uploads/2019/02/group-study-3-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
   
    
    
}
aside{
    text-align: center;
    background:transparent;
    padding:40px 25px;
    
}


aside h1{
    font-size: 35px;
    text-shadow: 2px 2px 3px black;
    margin-bottom: .2em;
    




}
aside p{
    text-shadow: 1px 1px 2px black;
}

main{
    width: 100%;
    height:100% ;
    background-color:rgba(154, 84, 245, 0.326);
    
    
}
#male #female #transgender{
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 7px;
    padding: 10px 10px;
    
}
#input-style{
    width: 100%;
    height: fit-content;
}
#name-label,#email-label,#number-label{
    width: 100%;
    height: inherit;
   
}
#name,#email,#number,#dropdown{
    width: 90%;
    border-radius: 5px;
    border: none;
    height: 2.5em;
    margin: 0 auto;
    background-color: rgba(233, 231, 231, 0.864);
    margin-bottom: 20px;
    margin-top: 7px;

}
#name:hover,#email:hover,#number:hover,#dropdown:hover{
    background-color: #fff;
    transition: .3s all ease;
} 
#survey-form{
    margin:0 auto;
    background-color:rgba(6, 1, 12, 0.557);
    padding-left: 7%;
    padding-top: 7%;
    width: 70%;
    font-size: 20px;
    border-radius: 5px;

}
textarea{
    width: 90%;
    height: 8em;
    min-width: 90%; 
    max-width:90%;
    min-height: 8em;
    max-height: auto;
    border-radius: 5px;
    background-color: rgba(233, 231, 231, 0.864);
    font-size: 20px;
}
textarea:hover{
    background-color: #fff;
    transition: .3s all ease;
}
#btn-style #submit{
    width: 90%;
    height:2.5em;
    color: white;
    font-size: 20px;
    margin-top: 6%;
    margin-bottom: 10%;
    border-radius: 5px;
    border: none;
    background-color:rgb(77, 177, 77);
       
}
#btn-style #submit:hover{
   background-color: rgb(40, 191, 57);
   transition: .3 all ease;    
}
